<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kofikodr.loki"
    android:versionCode="16"
    android:versionName="0.9.6.1">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.bernieeng.loki.receiver.AdminReceiver"
            android:description="@string/admin_explanation"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.bernieeng.loki.receiver.ForceLockReceiver" />
        <receiver
            android:name="com.bernieeng.loki.receiver.WifiStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.bernieeng.loki.receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.bernieeng.loki.receiver.AppUpgradedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data
                    android:scheme="package"
                    android:path="com.kofikodr.loki" />
            </intent-filter>
        </receiver>

        <service android:name="com.bernieeng.loki.service.LokiService" />

        <service
            android:name="com.bernieeng.loki.service.ActivityRecognitionService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.bernieeng.loki.wizardpager.SetupWizardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true" />

        <activity
            android:name="com.bernieeng.loki.ui.activity.WifiSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bernieeng.loki.ui.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bernieeng.loki.ui.activity.PreWizardSetupActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_pre_wizard_setup" />

        <activity android:name="com.bernieeng.loki.ui.activity.ActActivity" android:screenOrientation="portrait" />

        <activity
            android:name="com.bernieeng.loki.ui.activity.BluetoothSelectActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>
